@import 'styles/main.scss';

.wrap {
  margin-bottom: 40px;

  & > * {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.typography {
  margin-bottom: 40px;
  text-align: left;
}

.sectionTitle {
  margin-bottom: 10px;
  color: $white;
  text-transform: uppercase;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;

  @include breakpoint(md-down) {
    justify-content: flex-start;
  }

  &Palette {
    &Title {
      margin-bottom: 5px;
    }

    &Color {
      width: 120px;
      height: 120px;

      &__orange {
        background-color: $orange;
      }

      &__cyan {
        background-color: $cyan;
      }

      &__pink {
        background-color: $pink;
      }

      &__blue {
        background-color: $blue;
      }

      &__white {
        background-color: $white;
      }

      &__black {
        border: 1px solid $white;
        background-color: $black;
      }
    }
  }
}
