@import 'styles/main.scss';

.wrap {
  position: relative;
  height: 75px;
  width: 200px;
  padding: 10px;
  background-color: $lightgray;
  margin-bottom: 10px;

  &:after {
    position: absolute;
    display: block;
    content: '';
    height: 100px;
    width: 100%;
    top: -100px;
    left: 0;
    background-color: $offwhite;
    z-index: -1;
  }
}

.inner {
  height: 100%;
  border: 1px solid;
  border-width: 5px 15px 10px 15px;
  border-color: rgba($black, 0.5) rgba($black, 0.2) rgba($black, 0.1)
    rgba($black, 0.2);
}

.screen {
  @include digital7;

  height: 100%;
  padding-right: 20px;
  padding-top: 2px;
  box-shadow: 0 0 20px rgba($lightgray, 0.5);
  background-color: rgba($black, 0.8);
  color: rgba($white, 0);
  font-size: rem(40px);
  letter-spacing: 10px;
  text-align: right;
  text-shadow: 0 0 5px rgba($white, 0);
  transition: background-color $transition-duration-screen ease,
    color $transition-duration-screen ease,
    text-shadow $transition-duration-screen ease;

  .on & {
    color: $white;
    text-shadow: 0 0 5px $white;
    background-color: $gray;
  }
}
