
.wp-block-button__link {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 28px;
  background-color: #32373c;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  overflow-wrap: break-word;
}

.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-button__link:active,
.wp-block-button__link:visited {
  color: #fff;
}

.wp-block-button__link.aligncenter {
  text-align: center;
}

.wp-block-button__link.alignright {
  /* rtl:ignore */
  text-align: right;
}

.wp-block-button.is-style-squared,
.wp-block-button__link.wp-block-button.is-style-squared {
  border-radius: 0;
}

.wp-block-button.no-border-radius,
.wp-block-button__link.no-border-radius {
  border-radius: 0 !important;
}

.wp-block-button.is-style-outline .wp-block-button__link,
.wp-block-button__link.is-style-outline {
  border: 2px solid;
  background-color: transparent;
  color: #32373c;
}

.wp-block-buttons .wp-block-button {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

.wp-block-buttons .wp-block-button:last-child {
  margin-right: 0;
}

.wp-block-buttons.alignright .wp-block-button {
  margin-right: 0;
  margin-left: 8px;
}

.wp-block-buttons.alignright .wp-block-button:first-child {
  margin-left: 0;
}

.wp-block-buttons.aligncenter {
  text-align: center;
}
