.wp-block-file {
  margin-bottom: 1.5em;
}

.wp-block-file.aligncenter {
  text-align: center;
}

.wp-block-file.alignright {
  /* rtl:ignore */
  text-align: right;
}

.wp-block-file .wp-block-file__button {
  padding: 0.5em 1em;
  border-radius: 2em;
  background: #32373c;
  color: #fff;
  font-size: 13px;
}

.wp-block-file a.wp-block-file__button {
  text-decoration: none;
}

.wp-block-file a.wp-block-file__button:hover,
.wp-block-file a.wp-block-file__button:visited,
.wp-block-file a.wp-block-file__button:focus,
.wp-block-file a.wp-block-file__button:active {
  color: #fff;
  text-decoration: none;
  box-shadow: none;
  opacity: 0.85;
}

.wp-block-file * + .wp-block-file__button {
  margin-left: 0.75em;
}
