.wp-block-navigation__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.is-vertical .wp-block-navigation__container {
  display: block;
}

.wp-block-navigation-link {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 8px;
}

.wp-block-navigation-link .wp-block-navigation__container:empty {
  display: none;
}

/* stylelint-disable */
.has-child .wp-block-navigation__container {
  position: absolute;
  top: 100%;
  left: 0;
  width: fit-content;
  padding: 6px 0;
  transition: opacity 0.1s linear;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: inherit;
  color: inherit;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
/* stylelint-enable */

.has-child .wp-block-navigation__container > .wp-block-navigation-link {
  font-size: 15px;
}

.has-child .wp-block-navigation__container > .wp-block-navigation-link > .wp-block-navigation-link__content {
  flex-grow: 1;
}

.has-child .wp-block-navigation__container > .wp-block-navigation-link > .wp-block-navigation-link__submenu-icon {
  padding-right: 8px;
}

@media (min-width: 782px) {
  .has-child .wp-block-navigation__container {
    left: 24px;
  }

  .has-child .wp-block-navigation__container .wp-block-navigation__container {
    top: -7px;
    left: calc(100% + 8px);
  }

  .has-child .wp-block-navigation__container .wp-block-navigation__container::before {
    display: block;
    position: absolute;
    right: 100%;
    width: 8px;
    height: 100%;
    background: transparent;
    content: '';
  }

  .has-child .wp-block-navigation__container .wp-block-navigation-link__submenu-icon svg {
    transform: rotate(0);
  }
}

.has-child:hover {
  cursor: pointer;
}

.has-child:hover > .wp-block-navigation__container {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}

.has-child:focus-within {
  cursor: pointer;
}

.has-child:focus-within > .wp-block-navigation__container {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}

/* stylelint-disable */
.wp-block-navigation-link__content {
  padding: 6px 16px;
  text-decoration: none;
}
/* stylelint-enable */

/* stylelint-disable */
.has-text-color .wp-block-navigation-link__content {
  color: inherit;
}
/* stylelint-enable */

.wp-block-navigation-link__label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 17px;
  word-break: normal;
  overflow-wrap: break-word;
}

/* stylelint-disable */
.wp-block-navigation-link__submenu-icon {
  height: inherit;
  padding: 6px 16px;
}
/* stylelint-enable */

.wp-block-navigation-link__submenu-icon svg {
  fill: currentColor;
}

@media (min-width: 782px) {
  .wp-block-navigation-link__submenu-icon svg {
    transform: rotate(90deg);
  }
}

.wp-block-navigation .wp-block-navigation-link:not(.has-text-color),
.wp-block-navigation.is-style-light .wp-block-navigation-link:not(.has-text-color) {
  color: #111;
}

.wp-block-navigation:not(.has-background) .wp-block-navigation__container,
.wp-block-navigation.is-style-light:not(.has-background) .wp-block-navigation__container {
  background-color: #fff;
}

.wp-block-navigation.is-style-dark .wp-block-navigation-link:not(.has-text-color) {
  color: #fff;
}

.wp-block-navigation.is-style-dark:not(.has-background) .wp-block-navigation__container {
  background-color: #333;
}

.items-justified-left > ul {
  justify-content: flex-start;
}

.items-justified-center > ul {
  justify-content: center;
}

.items-justified-right > ul {
  justify-content: flex-end;
}

.wp-block-navigation-placeholder__actions {
  display: flex;
  align-items: flex-start;
}

.wp-block-navigation-placeholder__actions .components-base-control {
  margin-right: 5px;
}

.wp-block-navigation-placeholder__actions .components-select-control__input {
  min-height: 36px;
  margin: 0;
}

.wp-block-navigation-placeholder__actions .wp-block-navigation-placeholder__button {
  height: 36px;
}

.wp-block-navigation-placeholder .components-spinner {
  margin-top: -4px;
  margin-right: 7px;
  margin-left: 4px;
  vertical-align: middle;
}

.wp-block-navigation-placeholder .components-custom-select-control__button {
  min-width: 220px;
  height: auto;
  margin-bottom: 0;
}

.wp-block-navigation-placeholder .components-custom-select-control.has-menus .components-custom-select-control__item {
  display: list-item;
  padding: 10px 25px;
}

.wp-block-navigation-placeholder .components-custom-select-control.has-menus .components-custom-select-control__item.is-create-empty-option {
  position: relative;
  margin-top: 20px;
}

.wp-block-navigation-placeholder .components-custom-select-control.has-menus .components-custom-select-control__item.is-create-empty-option::before {
  display: list-item;
  position: absolute;
  top: -10px;
  right: 25px;
  left: 25px;
  height: 15px;
  border-top: 1px solid #757575;
  content: '';
}

.wp-block-navigation-placeholder .components-custom-select-control__menu {
  margin-top: 3px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 13px;
}
