.wp-block-pullquote {
  margin-right: 0;
  margin-left: 0;
  padding: 3em 0;
  text-align: center;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
  max-width: 290px;
}

.wp-block-pullquote.alignleft p,
.wp-block-pullquote.alignright p {
  font-size: 20px;
}

/* stylelint-disable */
.wp-block-pullquote p {
  font-size: 28px;
  line-height: 1.6;
}
/* stylelint-enable */

.wp-block-pullquote cite,
.wp-block-pullquote footer {
  position: relative;
}

.wp-block-pullquote .has-text-color a {
  color: inherit;
}

.wp-block-pullquote:not(.is-style-solid-color) {
  background: none;
}

.wp-block-pullquote.is-style-solid-color {
  border: none;
}

.wp-block-pullquote.is-style-solid-color blockquote {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}

.wp-block-pullquote.is-style-solid-color blockquote cite {
  font-style: normal;
  text-transform: none;
}

/* stylelint-disable */
.wp-block-pullquote cite {
  color: inherit;
}
/* stylelint-enable */

.wp-block-quote.is-style-large,
.wp-block-quote.is-large {
  margin: 0 0 16px;
  padding: 0 1em;
}

/* stylelint-disable */
.wp-block-quote.is-style-large p,
.wp-block-quote.is-large p {
  font-size: 24px;
  font-style: italic;
  line-height: 1.6;
}
/* stylelint-enable */

/* stylelint-disable */
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer,
.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer {
  font-size: 18px;
  text-align: right;
}
/* stylelint-enable */
