.is-small-text {
  font-size: 14px;
}

.is-regular-text {
  font-size: 16px;
}

.is-large-text {
  font-size: 36px;
}

.is-larger-text {
  font-size: 48px;
}

.has-drop-cap:not(:focus)::first-letter {
  margin: 0.05em 0.1em 0 0;
  float: left;
  font-size: 8.4em;
  font-style: normal;
  font-weight: 200;
  line-height: 0.68;
  text-transform: uppercase;
}

p.has-background {
  padding: 20px 38px;
}

p.has-text-color a {
  color: inherit;
}
