@import 'styles/main.scss';

.home {
  height: 100vh;
  padding-top: 50px;
  background-image: url('/bg.jpeg');
  text-align: center;

  &_Title {
    margin-bottom: 25px;
    color: brown;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    -ms-animation: blink 2s linear infinite;
    -o-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
  }

  &_Image {
    max-width: 100%;
    border: 20px groove $color-purple;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
