@import 'styles/main.scss';

.wrap {
  position: absolute;
  left: 0;
  top: -60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 60px;
  z-index: 1;
  opacity: 0.65;

  @include breakpoint(md-down) {
    position: relative;
    top: 0;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 10%;
  }
}

.left,
.right {
  padding: 0 20px;

  @include breakpoint(md-down) {
    padding: 0;
  }
}

.left {
  font-weight: 700;
  font-size: rem(25px);
  text-transform: uppercase;

  @include breakpoint(md-down) {
    margin-bottom: 30px;
  }
}

.right {
  text-transform: uppercase;
  width: 50%;
  display: flex;
  justify-content: space-between;

  @include breakpoint(md-down) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}

.link {
  text-decoration: none;
  font-weight: 900;
}
