// Colors
$purple: #130233;
$orange: #f36523;
$lightorange: #9f5c3d;
$cyan: #175e5b;
$lightcyan: #1b7f89;
$red: #f11961;
$pink: #ab5e77;
$blue: #3d8ac2;
$white: #ffefe0;
$black: #080a09;
$gray: #36433c;
$lightgray: #65726b;
$lightgreen: #a8d8a8;

// Spacing
$spacing-largest: 160px;
$spacing-xxx-large: 120px;
$spacing-xx-large: 80px;
$spacing-x-large: 64px;
$spacing-large: 48px;
$spacing-semi: 32px;
$spacing-standard: 24px;
$spacing-small: 16px;
$spacing-tiny: 8px;
$spacing-micro: 4px;

// Miscellaneous
$base-font-size: $spacing-small;
$container-width: 1312px;
$container-padding-desktop: $spacing-x-large;
$container-padding-mobile: $spacing-standard;
$grid-gutter-width: $spacing-standard;
$grid-margin-height: $spacing-standard;
$transition-duration-standard: 0.25s;
$transition-duration-screen: 1s;

// Convert pixels to rem
@function rem($pixelSize) {
  $remSize: $pixelSize / $base-font-size;

  @return #{$remSize}rem;
}
