@import './main';

html {
  font-size: $base-font-size;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  @include body;

  margin: 0;
  background-color: $black;
  color: $red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

a {
  color: $blue;
}

// Container with no grid
.container {
  @include container;
}

// Container with 24 column grid
.container-grid {
  @include container-grid;
}

// Override Chrome stylesheet input:disabled
input:disabled {
  border: none;
  background: inherit;
  color: inherit;
}
